/* Minimal styling to create scrolling space */
body {
  font-family: sans-serif;
  min-height: 300vh;
  margin: 0;
  padding: 4rem;
}

header {
  top: 2rem;
  background: #0a3857;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1,
  h2,
  p {
    margin: 0;
  }
}

header {
  z-index: 3;
}
div > header {
  z-index: 2;
  top: 0px;
}

footer {
  bottom: 1rem;
  background: #0a3857;
  color: #fff;
  padding: 0.5rem 1rem;
  max-width: calc(min(100vw, 100%) - 4rem);
  margin: 1.4em auto;
}

.content {
  width: 60em;
  max-width: calc(min(100vw, 100%) - 4rem);
  margin: 1.4em auto;
  line-height: 1.4em;
}

.nested-test {
  height: 20rem;
  overflow-y: auto;
  padding: 1em;
  border: 2px solid #ccc;
  margin-bottom: 2rem;

  &.horizontal {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;

    .menu-left {
      left: 1rem;
    }
    .menu-right {
      right: 1rem;
    }
    .menu-left,
    .menu-right {
      background: #0a3857;
      color: #fff;
      min-width: 7rem;
      margin: 0;
      padding: 1em;
      list-style-type: none;
      li {
        padding: 0.25em 0.5em;
        margin: 0;
      }
    }
    .dummy {
      height: 100%;
      min-width: 400vw;
    }
  }
}

.horizontal-spacer {
  height: 0px;
  width: 500vw;
}

.dummy {
  height: 140em;
  background: repeating-linear-gradient(#eee 0px, #eee 1em, #fff 1em, #fff 1.4em);
}
