/* Minimal styling to create scrolling space */
html {
  padding: 2rem 2rem;
}
body {
  font-family: sans-serif;
  min-height: 300vh;
  margin: 0 auto;
  color: #333;
  max-width: 80em;
}

pre code {
  background: #eee;
  display: block;
  padding: 1em;
  border-radius: 0.5em;
  max-width: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.sticky-polite {
  border-radius: 0.5em;
  background: #eee;
  transition: box-shadow 0.2s linear;
}

.sticky-polite[data-polite-state="intersect"],
.sticky-polite[data-polite-state="sticky"] {
  box-shadow:
    0 1em 2em rgba(0, 0, 0, 0.2),
    0 0.5em 0.75em -0.5em rgba(0, 0, 0, 0.5);
}

header {
  top: 2rem;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: calc(min(60rem, min(100vw, 100%) - 4vmax));
  margin: auto;

  h1,
  h2,
  p {
    margin: 0;
  }
}

header,
footer {
  z-index: 3;
}

.nested-test header {
  z-index: 2;
  top: 0px;
}

.nested-test footer {
  z-index: 2;
  bottom: 0px;
}

footer {
  bottom: 1rem;
  padding: 0.5rem 1rem;
  max-width: calc(min(60rem, min(100vw, 100%) - 4vmax));
  margin: 1.4em auto;
}

.content {
  width: 60em;
  max-width: calc(min(100vw, 100%) - 4vmax);
  margin: 1.4em auto;
  line-height: 1.4em;
}

.nested-test {
  height: 20rem;
  overflow-y: auto;
  padding: 1em;
  border: 2px solid #ccc;
  margin-bottom: 2rem;

  &.horizontal {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;

    .menu-left {
      left: 0rem;
    }
    .menu-right {
      right: 0rem;
    }
    .menu-left,
    .menu-right {
      min-width: 6em;
      margin: 0;
      padding: 0.75em;
      list-style-type: none;
      li {
        padding: 0.25em 0.5em;
        margin: 0;
        border-bottom: 1px solid #ccc;
      }
    }
    .dummy {
      height: 100%;
      min-width: 200vw;
      p {
        padding: 0.5em 1em;
        background: #fff;
        margin: 0;
        display: inline-block;
      }
    }
  }
}

.horizontal-spacer {
  height: 0px;
  width: 500vw;
}

.dummy {
  height: 140em;
  background: repeating-linear-gradient(45deg, #fff0, #fff0 0.5em, #eee 0.5em, #eee 0.7em);
}
